<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcZe8ugQHj9Q-eleD_qFEb00UVca7LFUs</string>
	<key>GCM_SENDER_ID</key>
	<string>325896827093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bootcampiOS.ImplementandoFirebaseEdu</string>
	<key>PROJECT_ID</key>
	<string>implementandofirebase-6fa05</string>
	<key>STORAGE_BUCKET</key>
	<string>implementandofirebase-6fa05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325896827093:ios:5e35fe58bb912b6cd5b25c</string>
</dict>
</plist>